<head>
    <title>Custom Markers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <!-- Proxima Nova-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <!-- animate -->
    <script src="https://use.fontawesome.com/47a7c6d863.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">  
    
  </head>
  
  
  <body style="background-color:#fbfbfb;">
    
          <div class="btn btn-default" style="width:20%;border-radius:40px;height:3.5em;width:3.5em;background-color:#fbfbfb;border-color:#fbfbfb;margin-bottom:-2em;" onclick="location.href = '/';" >

            <i class="fa fa-chevron-left" style="font-size:1.7em;margin-top:32%;" aria-hidden="true"></i>

        </div>
        
    <div class="row" style="margin-top:2em;">
        <div class="col-xs-9">
            <div class="panel panel-default" style="border-radius:80px;width:95%;height:80%;margin-left:10%;margin-top:3%;">
              <div class="panel-body">
                  <h5 style="margin:0;"> hey guys would you like</h5>
                  
              </div>
            </div>
      </div>
      
      <div class="col-xs-2">      
        <img  src="https://image.ibb.co/jn0Pww/23596222_166372933949583_5219923459932422144_n.jpg" class="animated FadeInRight" alt="235" style="margin-top:0.4em;border-radius: 25px;width:3.5em;height:3.5em;" border="0">
        </div>
    </div>
    

    <div class="row" id="user2" style="display:none;">
        <div class="col-xs-9">
            <div class="panel panel-default" style="border-radius:80px;width:95%;height:80%;margin-left:10%;margin-top:3%;">
              <div class="panel-body">
                  <h5 style="margin:0;"> hey guys would you like</h5>
                  
              </div>
            </div>
      </div>
      
      <div class="col-xs-2">      
        <img  src="https://image.ibb.co/jn0Pww/23596222_166372933949583_5219923459932422144_n.jpg" class="animated FadeInRight" alt="235" style="margin-top:0.4em;border-radius: 25px;width:3.5em;height:3.5em;" border="0">
        </div>
    </div>
    
    <div class="row" id="user3" style="display:none;">
        
        <div class="col-xs-2">      
        </div>
        
        
        <div class="col-xs-9">
            <div class="panel panel-default" style="background-color:#fc7a6c;border-radius:80px;width:95%;height:80%;margin-right:10%;margin-left:-3em;;margin-top:3%;">
              <div class="panel-body">
                  <h5 style="margin:0;color:white;"> hey guys would you like</h5>
                  
              </div>
            </div>
      </div>
      
      
    </div>
    
    
    <div class="row" id="user4" style="display:none;">
        <div class="col-xs-9">
            <div class="panel panel-default" style="border-radius:80px;width:95%;height:80%;margin-left:10%;margin-top:3%;">
              <div class="panel-body">
                  <h5 style="margin:0;"> Sounds Great! can't wait!!</h5>
                  
              </div>
            </div>
      </div>
      
      <div class="col-xs-2">      
        <img  src="https://image.ibb.co/jn0Pww/23596222_166372933949583_5219923459932422144_n.jpg" class="animated FadeInRight" alt="235" style="margin-top:0.4em;border-radius: 25px;width:3.5em;height:3.5em;" border="0">
        </div>
    </div>
    
    
    <div class="row" id="user5" style="display:none;">
        <div class="col-xs-9">
            <div class="panel panel-default" style="border-radius:80px;width:95%;height:80%;margin-left:10%;margin-top:3%;">
              <div class="panel-body">
                  <h5 style="margin:0;"> 😂😂😂👌👌👌💯💯🔥🔥🔥🔥 </h5>
                  
              </div>
            </div>
      </div>
      
      <div class="col-xs-2">      
        <img  src="https://image.ibb.co/jn0Pww/23596222_166372933949583_5219923459932422144_n.jpg" class="animated FadeInRight" alt="235" style="margin-top:0.4em;border-radius: 25px;width:3.5em;height:3.5em;" border="0">
        </div>
    </div>
    
    <div class="row" style="position:absolute;bottom:0px;width:100%;margin-bottom:1em;">
        <div class="col-xs-9" style="width:80%;">
            <form>
            <input type="text" id="box" style="border-radius:15px;width:100%;height:2.5em;margin-left:10%;margin-top:3%;padding-left:1em;"> </input>
            </form>
      </div>
      
      <div class="col-xs-2" >      
      <a id = "send" name="name" class="btn btn-info" style="width:20%;border-radius:30px;height:3em;width:3em;padding:0.7em;padding-left:-0.7em;margin-left:1em;margin-top:0.2em;"> 
      <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </a>
      </div>
    </div>
 
    
  </body>
  
  


  <script type="text/javascript">
  
  
    $(document).ready(function() {

      setTimeout(function(){$("#user2").show(300);},  3400);

      

        $("#send").click(function() {
            document.getElementById("box").value = "";
            $("#user3").show(500);
            setTimeout(function(){$("#user4").show(500);},  3400);
            setTimeout(function(){$("#user5").show(500);},  6400);
            });

      
    });
  
</script>
