<head>
    <title>Custom Markers</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet">
    <!-- Proxima Nova-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
    <!-- animate -->
    <script src="https://use.fontawesome.com/47a7c6d863.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
     /* Float shit over the map */

     #over_map { position: absolute; top: 10px; left: 10px; z-index: 99; }

    </style>
  </head>
  
  
  <body>
    
    
     <div id="map">  </div>

     <div id="over_map">
       
        <div class="btn btn-default" style="width:20%;border-radius:40px;height:5em;width:5em;color:#2b2b2b;" onclick="location.href = '/pages/select';" >

            <i class="fa fa-bars" style="font-size:2em;margin-top:32%;" aria-hidden="true"></i>

        </div>
        
        <!-- add event buttom -->
        <div class="btn btn-success" style="background-color:#ffcc5e;border-color:#ffcc5e;width:20%;border-radius:40px;height:5em;width:5em;position:fixed;right:2%;top:2%;" href="http://www.google.com" >

            <i class="fa fa-plus" style="font-size:2em;margin-top:32%;" aria-hidden="true"></i>

        </div>
    
    </div>
     

    
        <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 16,
          center: new google.maps.LatLng(25.3161925,51.4396189),
          mapTypeId: 'roadmap',
          mapTypeControl: false,
        });

        var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
        var icons = {
          football: {
            icon: 'https://image.ibb.co/k85KeG/Soccer_icon.png'
          },
          volleyball: {
            icon: 'http://image.ibb.co/i9RO8b/icons8_volleyball_40.png'
          },
          basketball: {
            icon: 'http://icons.iconarchive.com/icons/martin-berube/sport/32/Basketball-icon.png'
          }
        };

        var features = [
          {
            position: new google.maps.LatLng(25.3161925,51.4396189),
            type: 'basketball',
            url: "https://en.wikipedia.org/wiki/Basketball",
            animation:google.maps.Animation.DROP
          },{
            position: new google.maps.LatLng(25.3153100,51.442344),
            type: 'basketball',
            url: "/events/1",
            animation: null
          }
        ];

        // Create markers.
        features.forEach(function(feature) {
          var marker = new google.maps.Marker({
            position: feature.position,
            icon: icons[feature.type].icon,
            map: map,
            url: feature.url,
            animation: feature.animation
          });

          google.maps.event.addListener(marker, 'click', function() {
            window.open(marker.url);
          });

          marker.addListener('click', toggleBounce);

          // On idle, change marker animation to bounce
          google.maps.event.addListener(map, 'idle', function () {
            if (marker.getAnimation() !== null) {
              marker.setAnimation(google.maps.Animation.BOUNCE);

            } else {
              marker.setAnimation(null);
            }
          });

        });
        function toggleBounce() {
          if (marker.getAnimation() !== null) {
            marker.setAnimation(null);
          } else {
            marker.setAnimation(google.maps.Animation.BOUNCE);
            setTimeout(function(){ marker.setAnimation(null); }, 750);
          }
        }
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGrLqiEMEB9N0zzv79tDUdhP-8bNznpvg&callback=initMap">
    </script>
  </body>
  
  